.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.multipleChoiceButton {
  font-size: 20px;
  border-radius: 15px;
  height: 60px;
  width: 350px;
}

.matchmakingButton {
  font-size: 20px;
  background-color: #00BFFF; 
  color: white;
  height:40px;
  width:180px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold 
  
}

.categoryButton {
  font-size: 30px;
}